.banner-container {
  position: relative;
  width: 100%;
  height: 200px;
  background: #2b2d3c;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#meshCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.banner-content {
  position: relative;
  z-index: 10;
  pointer-events: none;
  padding: 0 20px;
  text-align: center;
}

.banner-content h1 {
  color: #01ab78;
  letter-spacing: 8px;
   font-size: clamp(2rem, 8vw, 4rem);
  text-shadow: 0 0 15px rgba(0, 255, 200, 0.6);
  margin: 0;
  text-transform: uppercase;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Mobile Responsive Adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 4px;
  }
  
  .banner-container {
    height: 250px;
  }
}